.thumbnail {
	max-width: 200px;
}
.my-active span{
    background-color: #5cb85c !important;
    color: white !important;
    border-color: #5cb85c !important;
}
ul.pager>li {
    display: inline-flex;
    padding: 5px;
}